.player-container {
    background: white;
    display: inline;
    justify-content: center;
    align-items: center;
}

.player1-wrapper {
    background-color: rgb(245, 220, 196);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.player2-wrapper {
    background-color: rgb(164, 252, 197);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}