.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: white;
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px rgb(143, 138, 138);
  margin-bottom: 10px;
}